@use '../../style/scss/vars' as *;

.cart{
    width: 230px;
    background-color: $dark_1;
    border-radius: 8px;
    min-height: 220px;
    overflow: hidden;

    h6{
        font-size: 15px;
        font-weight: 600;
    }

    .img{
        height: 200px;
        background-color: $secondary_1;
        position: relative;
    }

    .image{
        height: 100%;
        width: 100%;
    }

    .like, .liked{
        position: absolute;
        top: 3px;
        right: 4px;
        cursor: pointer;
        background-color: none;
    }

    .like *{
        stroke: $light_1;
    }

    .liked *{
        stroke: $main;
        fill: $main;
    }

    .info{
        padding: 12px 12px 8px;
        display: flex;
        flex-direction: column;
        min-height: 110px;

        .category{
            color: $light_2;
            padding-top: 5px;
            flex-grow: 1;
            padding-bottom: 20px;
        }
    }

    .about{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .prices{
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .price{
        font-weight: 700;
        font-size: 20px;
        color: $main;
        &_before{
            font-size: 13px;
            color: $secondary_1;
            text-decoration: line-through;
        }
    }

    .purchased{
        font-size: 10px;
        color: $secondary_1;
    }

}