@use '../../style/scss/vars' as *;

.carts{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.items{
    padding: 25px 22px 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    .btn{
        background-color: $main;
        border-radius: 6px;
        padding: 9px 20px;
    }
}